body{
    background-image: url(https://www.impericon.com/780x240x90/media/impericon/header/merchandise/queen/20180917_queen_mobile@2x.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center 190px;
    background-color: white;
}